<h1>{{title}}</h1>
<form ngForm name="cadastro">
  <label>Nome</label>
  <input type="text" name="text" placeholder="Cadastrar..." [(ngModel)]="text">
  <br>
  <label>Idade</label>
  <input type="text" name="agetxt" placeholder="Idade..." [(ngModel)]="agetxt">
  <button (click)="register()">OK</button>
</form>
<h3>Pessoas cadastradas</h3>

<table>
  <tr>
    <th>Nome</th>
    <th>Idade</th>
    <th>Excluir</th>
  </tr>
  <tr *ngFor="let pessoa of people">
    <td>{{pessoa.name}}</td>
    <td>{{pessoa.age}}</td>
    <td><button type="button" name="pessoa" (click)="delete(pessoa)">X</button></td>
  </tr>
</table>
<br>
<span>Total das pessoas cadastradas:{{people.length}}</span>